$vs_white: #F1F1F1;
$vs_light_gray: #999;
$vs_gray: #4E4E50;
$vs_dark_gray: #2D2D30;
$vs_black: #1E1E1E;
$vs_light_blue: #7AC1FF;
$vs_blue: #1C97EA;
$vs_dark_blue: #007ACC;
$vs_green: #8DD28A;
$vs_folder_yellow: #B5935F;

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.h-100 {
  height: 100%;
}

.no-click {
  pointer-events: none;
}

.fill-light-blue {
  fill: $vs_light_blue;
}

.fill-gray {
  fill: $vs_gray;
}

.fill-light-gray {
  fill: $vs_light_gray;
}

.fill-folder-yellow {
  fill: $vs_folder_yellow;
}

.vertical-mirror {
  transform: scaleX(-1);
}
